// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Noto Sans JP", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #7A89F0;
$secondary: #909197;
$bg_main: #DADDFB;
$bg_card: #FAFAFF;
$text: #2A2B2E;
$success: #63C587;
$gray: #DFDFE1;
$border: #B7B7BB;
$danger: #D93BA7;
$bg_danger: #FCECF5;
